.article_list {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 0 10px 16px 10px;
  max-width: 1200px;
}

.article-container {
  border: 2px dashed black;
  padding: 16px;
  border-radius: 8px;
  background-color: antiquewhite;
  max-width: 900px;
  cursor: pointer;
}

.article-item h3 {
  margin-bottom: 8px;
}

.article-item a {
  color: #252525;
  font-weight: lighter;
}
.article-item a:hover {
  color: black;
}

.article-item h4 {
  margin-bottom: 8px;
  font-weight: 400;
}

.article-item p {
  text-align: justify;
}

.article-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
  max-height: calc(10 * 1em * 1.4);
  line-height: 1.4;
  position: relative;
}
.article-item:has(+ .expand-btn:checked) {
  max-height: none;
  -webkit-line-clamp: unset;
}

.expand-btn {
  background-color: aliceblue;
  appearance: none;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
}
.expand-btn:hover {
  background-color: #ccc;
}
.expand-btn::before {
  content: "Lihat Artikel";
}
.expand-btn:checked:before {
  content: "Tutup Artikel";
}
