.article_list {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  padding: 0 10px 16px 10px;
  max-width: 1200px;
}

.article-container {
  border: 2px dashed black;
  padding: 16px;
  border-radius: 8px;
  background-color: antiquewhite;
  max-width: 900px;
  cursor: pointer;
}

.article-container h3 {
  margin-bottom: 8px;
}

.article-container a {
  color: black;
  font-weight: lighter;
}

.article-container h4 {
  margin-bottom: 8px;
  font-weight: 400;
}

.article-desc {
  display: -webkit-box;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-desc:hover {
  height: auto;
  transition: 0.7s ease-out;
  text-overflow: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
