.article-container {
  margin: 0 auto;
  border: 2px dashed black;
  padding: 16px;
  border-radius: 8px;
  background-color: antiquewhite;
  max-width: 900px;
}

.article-container h3 {
  margin-bottom: 8px;
}

.article-container h5 {
  margin-bottom: 8px;
  font-weight: 400;
}

.article-desc {
  height: 40px;
  display: -webkit-box;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-desc:hover {
  height: auto;
  transition: 0.7s ease-out;
  text-overflow: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
