@import "./responsive.css";
@import "./modal.css";
@import "./testsheet.css";
@import "./utils.css";
@import "./article.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

section {
  margin: 8px auto;
  background-color: whitesmoke;
}

/*App Header*/
.color-app_header {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.color-app_header h2 {
  font-weight: normal;
  padding: 10px 16px;
  flex: 1;
}

.app-nav ul li {
  display: inline-block;
}

.app-nav ul li a {
  color: #252525;
  text-decoration: none;
}
.app-nav ul li a:not(:hover) {
  opacity: 0.7;
}

/*Home Page*/
.go-to-test {
  padding: 16px 0;
  text-align: center;
}

.go-to-test h2::before {
  align-self: center;
  content: "";
  width: 50%;
  margin: 0 auto 16px auto;
  display: block;
  border-bottom: 2px solid black;
}

.go-to-test h2 {
  font-weight: normal;
}

.go-to-test button {
  margin-top: 16px;
  border-radius: 20px;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

/*Test Page*/
.test-page {
  margin: 0 auto;
  max-width: 1000px;
}

.instruction-box,
.announcement-box {
  padding: 8px 0;
}

.test-instruction,
.test-announcement,
.instruction,
.announcement {
  padding: 0 16px;
  margin: 0 auto;
}

.instruction,
.announcement {
  max-width: 835px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 1px solid khaki;
  padding: 16px;
}

.instruction ul {
  padding: 8px 32px;
}

.instruction h3,
.announcement h3,
.announcement h5 {
  text-align: center;
}

.announcement h5 {
  margin-top: 8px;
  font-weight: lighter;
}

.choose-box {
  padding: 8px;
}

.choose-box h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}

.choose-test {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto;
}

.test-type {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 8px 0;
  padding: 16px;
  border: 3px solid;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-x: center;
  transition: 0.4s ease-out;
}

.test-type h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.test-type p {
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: auto 0 16px 0;
}

.insert-code {
  text-align: center;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.join-btn,
.join-input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.join-mbl {
  text-align: center;
  margin-right: 4px;
  padding: 4px;
  width: 80%;
  font-size: 12px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
}
.mobile-form button {
  background-color: rgb(48, 156, 192);
  color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.individual-test {
  border-color: lightcoral;
  background-image: url(../../public/img/Add\ color-bro.svg);
}
.massal-test {
  border-color: lightblue;
  background-image: url(../../public/img/Community-pana.svg);
}
.room-join {
  border-color: khaki;
  background-image: url(../../public/img/Add\ User-cuate.svg);
}
.individual-btn:hover {
  background-color: lightcoral;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.massal-btn:hover {
  background-color: lightblue;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.room-btn:hover {
  background-color: khaki;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.test-type:hover {
  transition: 0.4s ease-in;
  background-size: 150%;
  font-size: large;
}

.checkbox-admin {
  display: flex;
  justify-content: center;
}

.checkbox-admin label {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 8px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.item-body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 2px dashed #aaa;
  flex: 1;
  text-align: center;
}
.item-body h5 {
  padding: 4px 0;
}
.item-body p {
  font-weight: lighter;
  font-size: 10px;
  padding: 4px 0;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/individual.svg");
}
.group {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/group.svg");
}
.join {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/join.svg");
}

/*Article*/
.page-title {
  padding: 8px;
  text-align: center;
  margin-bottom: 16px;
}

.page-title h2 {
  text-align: center;
  font-weight: lighter;
}

.page-title h2::after {
  align-self: center;
  content: "";
  width: 30%;
  margin: 4px auto;
  display: block;
  border-bottom: 2px solid black;
}

/*About*/
.about-item {
  display: flex;
  margin: 0 auto 2rem;
  justify-content: center;
  max-width: 1200px;
}

.about-item h3 {
  font-size: 0.95rem;
  line-height: 1.8rem;
  color: #252525;
  text-align: center;
  font-weight: 400;
  margin-bottom: 4px;
  max-width: 700px;
}

/*Result*/
.result {
  display: flex;
  background-color: white;
}

.data-box {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: solid 2px grey;
  border-radius: 15px;
}

.data-box,
.chart-box {
  margin: 8px;
}

.biodata-box h3,
.result-box h3 {
  padding: 4px;
  text-align: center;
}

.info-biodata,
.info-result {
  margin: 8px;
}

.info-result_title {
  margin-bottom: 2rem;
}

.info-result p,
.chart-card p {
  padding: 4px;
  text-align: center;
  font-size: 0.8rem;
}

.intro {
  margin: 16px auto;
  text-align: justify;
}

.data-type-box {
  display: flex;
  justify-content: center;
}

.data-type,
.data-info {
  padding: 8px;
}

.biodata-box,
.result-box {
  padding: 8px;
}

.chart-box {
  flex: 3;
  justify-content: center;
  border: solid 2px grey;
  border-radius: 15px;
}

.chart_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-card {
  padding: 8px;
  border-radius: 20px;
  background: white;
  overflow: auto;
}

.chart-card h3 {
  text-align: center;
  padding: 8px;
}

/*Admin*/
.admin-page {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 8px;
}
.admin-header {
  margin: 0 auto;
  text-align: center;
}
.admin-header h3 {
  padding: 8px;
}

.csv-btn-box {
  margin: 0 auto;
  padding: 14px;
  text-align: center;
}
.csv-btn {
  padding: 10px;
  background-color: rgb(48, 156, 192);
  color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}

/*Footer*/
footer {
  background-color: #ddd;
  margin-top: auto;
  text-align: center;
  padding: 16px 2rem;
  bottom: 0;
}

.footer {
  display: flex;
  align-items: center;
}

.foot-desc_item {
  max-width: 600px;
  font-size: 0.8em;
}

.foot-desc_item p {
  padding: 4px 0;
}

.foot-desc {
  line-height: 1.2em;
}

.foot-nav ul li {
  display: inline-block;
}

.foot-nav ul li a {
  color: black;
}

/*Web Util*/
::-webkit-scrollbar {
  width: 0;
}
