@import "./responsive.css";
@import "./modal.css";
@import "./testsheet.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
}

section {
  background-color: whitesmoke;
}

.page {
  margin-top: 32px;
}

/*App Header*/
.color-app_header {
  z-index: 200;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.color-app_header h2 {
  font-weight: normal;
  padding: 16px;
  flex: 1;
}

.app-nav ul li {
  display: inline-block;
}

.app-nav ul li a {
  color: black;
}

/*Home Page*/
.go-to-test {
  padding: 16px 0;
  text-align: center;
}

.go-to-test h2::before {
  align-self: center;
  content: "";
  width: 50%;
  margin: 0 auto 16px auto;
  display: block;
  border-bottom: 2px solid black;
}

.go-to-test h2 {
  font-weight: normal;
}

.go-to-test button {
  margin-top: 16px;
  border-radius: 20px;
  border: 0;
  background-color: lightblue;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}

/*Test Page*/
.instruction-box {
  margin: 0 auto;
  padding: 8px 0;
}

.test-instruction,
.instruction {
  padding: 0 16px;
  margin: 0 auto;
}

.instruction {
  max-width: 835px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 1px solid khaki;
  padding: 16px;
}

.instruction ul {
  padding: 8px 32px;
}

.instruction h3 {
  font-weight: 550;
  text-align: center;
}

.choose-box {
  padding: 8px;
}

.choose-box h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.choose-test {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto;
}

.test-type {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 8px 0;
  padding: 16px;
  border: 3px solid;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-x: center;
  transition: 0.4s ease-out;
}

.test-type h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.test-type p {
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: auto 0 16px 0;
}

.insert-code {
  text-align: center;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.join-btn {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.individual-test {
  border-color: lightcoral;
  background-image: url(../../public/img/Add\ color-bro.svg);
}
.massal-test {
  border-color: lightblue;
  background-image: url(../../public/img/Community-pana.svg);
}
.room-join {
  border-color: khaki;
  background-image: url(../../public/img/Add\ User-cuate.svg);
}
.individual-btn:hover {
  background-color: lightcoral;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.massal-btn:hover {
  background-color: lightblue;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.room-btn:hover {
  background-color: khaki;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.test-type:hover {
  transition: 0.4s ease-in;
  background-size: 150%;
  font-size: large;
}

.checkbox-admin {
  display: flex;
  justify-content: center;
}

.checkbox-admin label {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

.icons {
  margin: auto 8px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.individual {
  background-repeat: no-repeat;
  background-image: url("../../public/icons/individual.svg");
}
.group {
  background-repeat: no-repeat;
  background-image: url("../../public/icons/group.svg");
}
.join {
  background-repeat: no-repeat;
  background-image: url("../../public/icons/join.svg");
}

/*Result*/
.chartCard {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

/*Footer*/
footer {
  margin-top: auto;
  text-align: center;
  padding: 16px;
}
