@import "./responsive.css";
@import "./modal.css";
@import "./testsheet.css";
@import "./utils.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

section {
  margin-top: 8px;
  background-color: whitesmoke;
  min-height: 80vh;
}

/*App Header*/
.color-app_header {
  z-index: 200;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.color-app_header h2 {
  font-weight: normal;
  padding: 16px;
  flex: 1;
}

.app-nav ul li {
  display: inline-block;
}

.app-nav ul li a {
  color: black;
}

/*Home Page*/
.go-to-test {
  padding: 16px 0;
  text-align: center;
}

.go-to-test h2::before {
  align-self: center;
  content: "";
  width: 50%;
  margin: 0 auto 16px auto;
  display: block;
  border-bottom: 2px solid black;
}

.go-to-test h2 {
  font-weight: normal;
}

.go-to-test button {
  margin-top: 16px;
  border-radius: 20px;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}

/*Test Page*/
.instruction-box,
.announcement-box {
  margin: 0 auto;
  padding: 8px 0;
}

.test-instruction,
.test-announcement,
.instruction,
.announcement {
  padding: 0 16px;
  margin: 0 auto;
}

.instruction,
.announcement {
  max-width: 835px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 1px solid khaki;
  padding: 16px;
}

.instruction ul {
  padding: 8px 32px;
}

.instruction h3,
.announcement h4,
.announcement h5 {
  text-align: center;
}

.announcement h5 {
  margin-top: 8px;
}

.choose-box {
  padding: 8px;
}

.choose-box h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.choose-test {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto;
}

.test-type {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 8px 0;
  padding: 16px;
  border: 3px solid;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-x: center;
  transition: 0.4s ease-out;
}

.test-type h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.test-type p {
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: auto 0 16px 0;
}

.insert-code {
  text-align: center;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.join-btn,
.join-input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.join-mbl {
  text-align: center;
  margin-right: 4px;
  padding: 4px;
  width: 80%;
  font-size: 12px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
}
.join-mbl-btn {
  background-color: transparent;
  border: 0;
  margin: 0 4px 0 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: rgb(48, 156, 192);
}

.individual-test {
  border-color: lightcoral;
  background-image: url(../../public/img/Add\ color-bro.svg);
}
.massal-test {
  border-color: lightblue;
  background-image: url(../../public/img/Community-pana.svg);
}
.room-join {
  border-color: khaki;
  background-image: url(../../public/img/Add\ User-cuate.svg);
}
.individual-btn:hover {
  background-color: lightcoral;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.massal-btn:hover {
  background-color: lightblue;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.room-btn:hover {
  background-color: khaki;
  border: 1px solid white;
  transition: 0.4s ease-in;
}
.test-type:hover {
  transition: 0.4s ease-in;
  background-size: 150%;
  font-size: large;
}

.checkbox-admin {
  display: flex;
  justify-content: center;
}

.checkbox-admin label {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 8px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.item-body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 2px dashed #aaa;
  flex: 1;
  text-align: center;
}
.item-body h5 {
  padding: 4px 0;
}
.item-body p {
  font-weight: lighter;
  font-size: 10px;
  padding: 4px 0;
}

.mobile-form {
  display: flex;
  flex-direction: row;
}

.individual {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/individual.svg");
}
.group {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/group.svg");
}
.join {
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../../public/icons/join.svg");
}

/*Result*/
.result {
  display: flex;
  background-color: white;
}

.data-box {
  flex: 6;
  display: flex;
  flex-direction: column;
  border: solid 2px grey;
  border-radius: 15px;
}

.data-box,
.chart-box {
  margin: 8px;
}

.biodata-box h3,
.result-box h3 {
  padding: 4px;
  text-align: center;
}

.info-biodata,
.info-result {
  margin: 8px;
}

.info-result {
  height: 250px;
}
.info-result p {
  padding: 4px;
}

.intro {
  margin: 16px auto;
  text-align: justify;
}

.data-type-box {
  display: flex;
  justify-content: center;
}

.data-type,
.data-info {
  padding: 8px;
}

.biodata-box,
.result-box {
  margin-bottom: 8px;
  padding: 8px;
}

.chart-box {
  flex: 3;
  display: flex;
  justify-content: center;
  border: solid 2px grey;
  border-radius: 15px;
}

.chart-card {
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  background: white;
  overflow: auto;
}

.chart-card h3 {
  text-align: center;
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #ddd;
}
.cap-data:hover {
  background-color: #d6eeee;
}
.table-number {
  text-align: center;
}
.table-value {
  width: 80%;
  text-align: center;
}
.table-compare {
  margin-top: 8px;
  height: 70%;
  overflow-y: scroll;
}
.table-discriminant {
  margin-top: 8px;
  height: 80%;
  overflow-y: scroll;
}

/*Footer*/
footer {
  background-color: #ddd;
  margin-top: auto;
  text-align: center;
  padding: 16px;
  bottom: 0;
}

/*Web Util*/
::-webkit-scrollbar {
  width: 0;
}
