.modal-box {
  z-index: 100;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.637);
}

.modal-center {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-input {
  position: relative;
  width: 100%;
  background-color: whitesmoke;
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
}

.individual-input {
  border: 2px dashed lightcoral;
}

.input-data-box,
.header-input-data {
  display: flex;
}

.header-input-data {
  flex-direction: row;
}

.icon-close {
  font-size: 28px;
  cursor: pointer;
}

.header-input-data h3 {
  flex: 1;
}

.input-data {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input-data input,
.input-data select {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.input-data button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
