.modal-box {
  z-index: 100;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.637);
  overflow-y: scroll;
}

.modal-center {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-input {
  position: relative;
  width: 100%;
  background-color: whitesmoke;
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
}

.individual-input {
  border: 2px dashed lightcoral;
}

.input-data-box,
.header-input-data {
  display: flex;
}

.header-input-data {
  flex-direction: row;
}

.icon-close {
  font-size: 28px;
  cursor: pointer;
}

.header-input-data h3 {
  flex: 1;
}

.input-data,
.initial-test {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.initial-test-box,
.verify-code-box {
  display: flex;
  flex: 1;
}

.verify-code-input {
  flex: 6;
}

.verify-code-btn {
  flex: 3;
}

.input-data input#adminname,
.input-data input#adminemail,
.input-data input#roomname,
.input-data input#tespurpose,
.input-data input#fullname,
.input-data input#age,
.input-data input#device,
.input-data input#method,
.input-data select {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.verify-code-btn button {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(144, 233, 144);
  border: 0.5px solid green;
  border-radius: 4px;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}
.verify-code-input input#room {
  padding: 8px;
  width: 97%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.initial-test input#tesrange,
.initial-test input#roominitial {
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
}

.initial-test input#tesrange {
  padding: 8px 0;
}

.initial-test input#roominitial {
  padding: 8px;
  width: 100%;
}

.input-data button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.gender-box {
  display: flex;
}

.input-data input#male,
.input-data input#female {
  margin: 0 16px 0 auto;
}

.male-box,
.female-box {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.checkbox-device {
  margin-top: 6px;
  padding-left: 4px;
  display: flex;
}

.checkbox-device label {
  font-size: 14px;
  padding-left: 4px;
}

.input-data p,
.verify-code-input p {
  margin-top: 2px;
  font-size: 14px;
  padding-left: 4px;
}
