@media screen and (max-width: 300px) {
  /*Header*/
  .app-nav ul li {
    padding: 15px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 16px;
    padding: 0 10px;
  }
  .go-to-test button {
    margin-top: 16px;
    color: rgb(48, 156, 192);
    background-color: transparent;
  }
  /*Test Page*/
  .individual,
  .group,
  .join {
    height: 32px;
  }
  .choose-box h2 {
    font-weight: 200;
    font-size: 16px;
  }
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 25px;
    width: 25px;
  }
  .row-point-explainer {
    font-size: 50%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
}

@media screen and (min-width: 301px) {
  /*Header*/
  .app-nav ul li {
    padding: 19px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 20px;
    padding: 0 16px;
  }
  .go-to-test button {
    width: 145px;
    padding: 8px;
  }
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 28px;
    width: 28px;
  }
  /*Test Sheet*/
  .row-point-explainer {
    font-size: 60%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
}

@media screen and (min-width: 301px) and (max-width: 350px) {
  .individual,
  .group,
  .join {
    height: 48px;
  }
}

@media screen and (min-width: 301px) and (max-width: 450px) {
  /*Test Page*/
  .choose-box h2 {
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  /*Test Page*/
  .choose-test {
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 450px) {
  /*Test Page*/
  .instruction-box {
    display: none;
  }
  .test-type {
    height: 200px;
  }
  /*Modal*/
  .icon-delete {
    font-size: 24px;
  }
}

@media screen and (max-width: 599px) {
  section {
    padding: 8px 0;
  }
  /*Test Page*/
  .instruction h3 {
    font-weight: 550;
    text-align: center;
    font-size: 16px;
  }
  .instruction ul li {
    font-size: 14px;
  }
  .individual-test {
    background-position-y: -100px;
  }
  /*Modal*/
  .input-data-box {
    flex-direction: column;
  }
  .input-data {
    margin: 6px 0;
  }
}

@media screen and (min-width: 600px) {
  /*App Header*/
  .color-app_header {
    flex-direction: row;
  }
  .color-app_header h2 {
    font-size: 24px;
  }
  .app-nav ul li {
    padding: 10px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test button {
    width: 250px;
    padding: 12px;
  }
  /*Test Page*/
  .choose-test {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
  }
  /*Modal*/
  .modal-center {
    max-width: 900px;
    margin: 1.75rem auto;
  }
  .input-data-box {
    flex-direction: row;
  }
  .input-data {
    padding: 8px;
  }
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 30px;
    width: 30px;
  }
  .row-point-explainer {
    font-size: 75%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
}

@media screen and (max-width: 622px) and (min-width: 599px) {
  .checkbox-admin label {
    font-size: 12px;
  }
}

@media screen and (max-width: 749px) and (min-width: 622px) {
  .checkbox-admin label {
    font-size: 13px;
  }
}

@media screen and (min-width: 750px) {
  /*App Header*/
  .color-app_header h2 {
    font-size: 32px;
  }
  .app-nav ul li {
    padding: 16px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 24px;
  }
  .go-to-test button {
    width: 290px;
    padding: 16px;
  }
}

@media screen and (min-width: 775px) {
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 40px;
    width: 40px;
  }
  .start-row,
  .end-row {
    padding-top: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .start-row,
  .end-row,
  .row-value {
    height: 45px;
    width: 45px;
  }
}
