@media screen and (max-width: 300px) {
  /*Header*/
  .app-nav ul li {
    padding: 15px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 16px;
    padding: 0 10px;
  }
  .go-to-test button {
    margin-top: 16px;
    color: rgb(48, 156, 192);
    background-color: transparent;
  }
  /*Test Page*/
  .icons {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 301px) {
  /*Header*/
  .app-nav ul li {
    padding: 19px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 20px;
    padding: 0 16px;
  }
  .go-to-test button {
    width: 145px;
    padding: 8px;
  }
}

@media screen and (min-width: 301px) and (max-width: 350px) {
  .icons {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 350px) {
  .choose-test {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  /*Test Page*/
  .instruction-box {
    display: none;
  }
  .test-type {
    height: 200px;
  }
}

@media screen and (max-width: 599px) {
  /*Test Page*/
  .instruction h3 {
    font-weight: 550;
    text-align: center;
    font-size: 16px;
  }
  .instruction ul li {
    font-size: 14px;
  }
  .choose-test {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .individual-test {
    background-size: 125% 125%;
    background-position-y: -10px;
  }
  /*Modal*/
  .input-data-box {
    flex-direction: column;
  }
  .input-data {
    margin: 6px 0;
  }
}

@media screen and (min-width: 600px) {
  /*App Header*/
  .color-app_header {
    flex-direction: row;
  }
  .color-app_header h2 {
    font-size: 24px;
  }
  .app-nav ul li {
    padding: 10px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test button {
    width: 250px;
    padding: 12px;
  }
  /*Test Page*/
  .choose-test {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
  }
  /*Modal*/
  .input-data-box {
    flex-direction: row;
  }
  .input-data {
    padding: 8px;
  }
}

@media screen and (max-width: 622px) and (min-width: 599px) {
  .checkbox-admin label {
    font-size: 12px;
  }
}

@media screen and (max-width: 749px) and (min-width: 622px) {
  .checkbox-admin label {
    font-size: 13px;
  }
}

@media screen and (min-width: 750px) {
  /*App Header*/
  .color-app_header h2 {
    font-size: 32px;
  }
  .app-nav ul li {
    padding: 16px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 24px;
  }
  .go-to-test button {
    width: 290px;
    padding: 16px;
  }
}
