@media screen and (max-width: 300px) {
  /*Header*/
  .app-nav ul li {
    padding: 15px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 16px;
    padding: 0 10px;
  }
  .go-to-test button {
    margin-top: 16px;
    color: rgb(48, 156, 192);
    background-color: transparent;
  }
  /*Test Page*/
  .individual,
  .group,
  .join {
    height: 32px;
  }
  .choose-box h2 {
    font-weight: 200;
    font-size: 16px;
  }
  .announcement h5 {
    font-weight: lighter;
  }
  /*Test Sheet*/
  .biodata-testing table {
    font-size: 14px;
  }
  .start-row,
  .end-row,
  .row-value {
    height: 25px;
    width: 25px;
  }
  .row-point-explainer {
    font-size: 50%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
  /*Dashboard*/
  .admin-header h2 {
    font-size: 18px;
  }
  .admin-header h3 {
    font-size: 16px;
  }
  .table-client {
    font-size: 14px;
  }

  /*Utils*/
  .util-box h1 {
    padding: 14px;
    font-size: 18px;
    flex: 1;
  }
  .util-box h2 {
    padding: 14px;
    font-size: 18px;
    flex: 1;
  }
  .util-box h4 {
    font-size: 14px;
  }
  .util-box u {
    font-weight: 500;
    font-size: 17px;
  }
}

@media screen and (min-width: 301px) {
  /*Header*/
  .app-nav ul li {
    padding: 19px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 20px;
    padding: 0 16px;
  }
  .go-to-test button {
    width: 145px;
    padding: 8px;
    background-color: lightblue;
  }
  /*Test Page*/
  .instruction h3,
  .announcement h4,
  .announcement h5 {
    font-weight: 550;
  }
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 28px;
    width: 28px;
  }
  .row-point-explainer {
    font-size: 60%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
  /*Footer*/
  .foot-nav ul li {
    padding: 0 10px;
  }
  .foot-nav ul li a svg {
    font-size: 28px;
  }
}

@media screen and (min-width: 301px) and (max-width: 350px) {
  .individual,
  .group,
  .join {
    height: 32px;
  }
}

@media screen and (min-width: 301px) and (max-width: 450px) {
  /*Test Page*/
  .choose-box h2 {
    font-weight: 400;
    font-size: 20px;
  }
  /*Utils*/
  .util-box h1 {
    padding: 20px;
    font-size: 20px;
    flex: 1;
  }
  .util-box h2 {
    padding: 14px;
    font-size: 20px;
    flex: 1;
  }
  .util-box h4 {
    font-size: 16px;
  }
  .util-box u {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  /*Test Page*/
  .choose-test {
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
  }
  /*Modal*/
  .initial-test-box {
    flex-direction: column;
  }
  .roominitial {
    margin-top: 10px;
  }
  .initial-test input#tesrange {
    padding: 8px 0;
    width: 100%;
  }
}

@media screen and (min-width: 351px) {
  /*Modal*/
  .initial-test input#tesrange {
    padding: 8px 0;
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  /*Test Page*/
  .test-type {
    height: 200px;
  }
  /*Modal*/
  .icon-delete {
    font-size: 24px;
  }
  /*Utils*/
  .image-result {
    background-size: cover;
  }
}

@media screen and (min-width: 450px) {
  /*Utils*/
  .util-box h1 {
    padding: 28px;
    font-size: 26px;
    flex: 1;
  }
  .util-box h2 {
    padding: 16px;
    font-size: 26px;
    flex: 1;
  }
  .util-box h4 {
    font-size: 18px;
  }
  .util-box u {
    font-weight: 550;
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  /*Utils*/
  .image-result,
  .image-congrats,
  .image-sending {
    background-size: cover;
  }
}

@media screen and (max-width: 560px) {
  /*Test Page*/
  .instruction-box {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  /*App Header*/
  .color-app_header {
    flex-direction: column;
  }
  /*Test Page*/
  .instruction h3 {
    font-weight: 550;
    text-align: center;
    font-size: 16px;
  }
  .instruction ul li {
    font-size: 14px;
  }
  .individual-test {
    background-position-y: -100px;
  }
  /*Modal*/
  .input-data-box {
    flex-direction: column;
  }
  .input-data {
    margin: 6px 0;
  }
  /*Result*/
  .result {
    border-radius: 15px;
    padding: 8px;
  }
  /*Footer*/
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .foot-desc {
    padding: 16px 0;
  }
  .foot-nav {
    padding: 16px 0;
  }
}

@media screen and (min-width: 600px) {
  /*App Header*/
  .color-app_header {
    flex-direction: row;
  }
  .color-app_header h2 {
    font-size: 24px;
  }
  .app-nav ul li {
    padding: 10px;
  }
  .app-nav ul li a svg {
    font-size: 24px;
  }
  /*Home Page*/
  .go-to-test button {
    width: 250px;
    padding: 12px;
  }
  /*Test Page*/
  .choose-test {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
  }
  /*Modal*/
  .modal-center {
    max-width: 900px;
    margin: 1.75rem auto;
  }
  .input-data-box {
    flex-direction: row;
  }
  .input-data,
  .verify-code-box {
    padding: 8px;
  }
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 30px;
    width: 30px;
  }
  .row-point-explainer {
    font-size: 60%;
  }
  .start-row,
  .end-row {
    padding-top: 7px;
  }
  /*Footer*/
  .footer {
    justify-content: space-between;
  }
}

@media screen and (max-width: 622px) and (min-width: 599px) {
  .checkbox-admin label {
    font-size: 12px;
  }
}

@media screen and (max-width: 749px) and (min-width: 622px) {
  .checkbox-admin label {
    font-size: 13px;
  }
}

@media screen and (min-width: 750px) {
  section {
    min-height: 85vh;
  }
  /*App Header*/
  .color-app_header h2 {
    font-size: 32px;
  }
  .app-nav ul li {
    padding: 16px;
  }
  .app-nav ul li a svg {
    font-size: 28px;
  }
  /*Home Page*/
  .go-to-test h2 {
    font-size: 24px;
  }
  .go-to-test button {
    width: 290px;
    padding: 16px;
  }
}

@media screen and (max-width: 775px) {
  /*Result*/
  .result {
    margin-top: 8px;
    padding: 8px;
  }
}

@media screen and (min-width: 775px) {
  /*Test Sheet*/
  .start-row,
  .end-row,
  .row-value {
    height: 40px;
    width: 40px;
  }
  .start-row,
  .end-row {
    padding-top: 14px;
  }
  .row-point-explainer {
    font-size: 75%;
  }
  /*Result*/
  .result {
    border-radius: 15px;
    margin: 16px;
    padding: 8px;
  }
}

@media screen and (max-width: 999px) {
  /*Result*/
  .result {
    flex-direction: column;
  }

  .info-result {
    height: 100%;
  }
  .table-data {
    height: 65vh;
  }
  .table-data tbody {
    height: 60vh;
  }
}

@media screen and (min-width: 1000px) {
  .start-row,
  .end-row,
  .row-value {
    height: 45px;
    width: 45px;
  }

  .info-result {
    height: 275px;
  }
  .table-data {
    height: 65vh;
  }
  .table-data tbody {
    height: 30vh;
  }
  .table-client {
    height: 65vh;
  }
  .table-client tbody {
    height: 60vh;
  }
}
