.resume-section {
  display: flex;
}

.resume-text {
  margin: 0 auto;
  flex: 0 0 50%;
  width: 100%;
}

.resume-text h1 {
  width: 87%;
  font-weight: 500 !important;
  color: #252525 !important;
}

.resume-text h4 {
  width: 87%;
  font-weight: lighter !important;
  color: #5a5959 !important;
}

.even-text h1,
.even-text h4 {
  margin-left: auto;
}

.resume-image {
  margin: 0 auto;
  flex: 0 0 50%;
  max-width: 600px;
}

.image-section {
  width: 100%;
  border-radius: 25px;
}

.cap-img {
  height: 80vh;
  background-image: url(../asset/img/capdesign.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
}