.resume-section {
  display: flex;
}

.resume-text {
  margin: 0 auto;
  flex: 0 0 50%;
  width: 100%;
}

.resume-text h1 {
  font-weight: 500 !important;
  color: #252525 !important;
}

.resume-text h4 {
  font-weight: lighter !important;
  color: #5a5959 !important;
}

.resume-image {
  margin: 0 auto;
  flex: 0 0 50%;
}

.image-section {
  width: 100%;
  height: auto;
}

.cap-img {
  background-image: url(../asset/illustration/blobanimation.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
}