.test-section {
  margin: 16px;
}

.test-sheet {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: fit-content;
}

.biodata-testing {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.header-testing {
  text-align: center;
}

.header-testing::after {
  align-self: center;
  content: "";
  width: 50%;
  margin: 16px auto;
  display: block;
  border-bottom: 2px solid black;
}

.testing-status {
  display: flex;
  flex-direction: row;
}

.icon-close-test {
  font-size: 28px;
  cursor: pointer;
}

.testing-status p {
  flex: 1;
}

.test-sheet button {
  margin: 8px auto 0 auto;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  background-color: lightblue;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
  max-width: fit-content;
}

.row-box,
.row-sheet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row-sheet {
  margin: 8px auto;
}

.row-start-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 4px 8px 4px 1px;
}

.row-end-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 4px 1px 4px 8px;
}

.row-value {
  margin: 4px 1px;
  border: 1px solid #252525;
  cursor: pointer;
}

.row-point-explainer {
  color: whitesmoke;
  background-color: transparent;
  opacity: 0.8;
  text-align: center;
}

.ghostbox {
  visibility: hidden;
  cursor: none;
}

.table-biodata {
  border-collapse: unset;
}

.table-biodata td {
  text-align: start;
}
