.test-section {
  margin: 8px;
}

.test-sheet {
  max-width: 1200px;
  margin: 0 auto;
}

.row-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row-value {
  margin: 4px;
  min-height: 35px;
  min-width: 35px;
  flex: 1;
}

.ghostbox {
  visibility: hidden;
  cursor: none;
}
