.test-section {
  margin: 8px;
}

.test-sheet {
  max-width: 1200px;
  margin: 0 auto;
}

.row-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.row-value {
  flex: 1;
}
