.util-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  text-align: center;
  padding: 16px;
}

.util-box h1 {
  font-weight: 400;
}

.util-box button {
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  border: 0;
  background-color: transparent;
  color: black;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.util-box h2 {
  font-weight: 500;
}

.util-box h4 {
  padding: 16px;
  font-weight: 500;
}

/*Result*/
.image-result {
  background-image: url(../../public/asset/illustration/People\ search-bro.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Email Sended*/
.image-sending {
  background-image: url(../../public/asset/illustration/Messenger-amico.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Thanks*/
.image-thanks {
  background-image: url(../../public/asset/illustration/Done-rafiki.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Slow Inet*/
.image-slow-inet {
  background-image: url(../../public/asset/illustration/No\ connection-pana.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Loading*/
.loading {
  background-image: url(../../public/asset/illustration/Wedges-3s-200px.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 280px;
}

/*Table*/
table {
  border-collapse: collapse;
  text-align: center;
}

tr {
  border-bottom: 1px solid #ddd;
}

.table-data,
.table-client {
  margin: 8px;
}

.table-data thead,
.table-data tbody tr,
.table-client thead,
.table-client tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-data tbody,
.table-client tbody {
  display: block;
  overflow-y: auto;
}

.table-data td,
.table-data th,
.table-client td,
.table-cleint th {
  padding: 4px;
}

.cap-data:hover {
  background-color: #d6eeee;
}