.util-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 16px;
}

.util-box h1 {
  font-weight: 400;
}

.util-box button {
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  border: 0;
  background-color: transparent;
  color: black;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.util-box h2 {
  font-weight: 500;
}

.util-box h4 {
  padding: 16px;
  font-weight: 500;
}

/*Countdown*/
.image-result {
  background-image: url(../../public/img/People\ search-bro.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Congrats*/
.image-congrats {
  background-image: url(../../public/img/Happy\ student-rafiki.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Email Sended*/
.image-sending {
  background-image: url(../../public/img/Messenger-amico.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Thanks*/
.image-thanks {
  background-image: url(../../public/img/Done-rafiki.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Loading*/
.loading-box {
  min-height: 280px;
}

.loading {
  background-image: url(../../public/img/Wedges-3s-200px.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

/*Table*/
table {
  border-collapse: collapse;
  text-align: center;
}

tr {
  border-bottom: 1px solid #ddd;
}

.table-data {
  margin-top: 8px;
  height: 65vh;
}

.table-data thead,
.table-data tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-data tbody {
  display: block;
  overflow-y: auto;
  height: 60vh;
}

.table-data td,
.table-data th {
  padding: 4px;
}

.cap-data:hover {
  background-color: #d6eeee;
}
